{% extends 'base.html' %} {% block title %}Bauteil Übersicht{% endblock %} {%
block content %}

<div class="container">
  {% if parts %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Dateiname</th>
        <th scope="col">Zeichnungsnummer</th>
        <th scope="col">Material</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for part in parts %}
      <tr>
        <th scope="row">{{ part.id }}</th>
        <td><i class="bi bi-card-image"></i></td>
        <td>{{ part.originalFilename }}</td>
        <td>
          {% if part.drawingNumber %}{{ part.drawingNumber }}{% else %}{% endif
          %}
        </td>
        <td>
          {% if part.material.value %}{{ part.material.value }}{% else %}{%
          endif %}
        </td>
        <td>{{ part.created_at }}</td>
        <td>
          <a href="/parts/{{ part.id }}" class="btn btn-light"
            ><i class="bi bi-magic"></i
          ></a>
          <a href="/parts/edit/{{ part.id }}" class="btn btn-light"
            ><i class="bi bi-pencil"></i
          ></a>
          <a href="/parts/delete/{{ part.id }}" class="btn btn-light"
            ><i class="bi bi-trash"></i
          ></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No parts are available.</p>
  {% endif %}
</div>

{% endblock %}
