{% extends 'base.html' %}


{% block title %}Upload CAD Modell{% endblock %}



 {% block content %}
 
 <div class="container">
    <br>
    <br>
      <form method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col">          <label for="file" class="form-label">CAD Datei auswählen (STP/STEP)</label>
          <input class="form-control" type="file" id="file" name="file" accept=".stp, .step" required>
        </div>
        <div class="col">

          <label for="file" class="form-label">Zeichnung auswählen (*.tiff, *.png, *.bmp, *.pdf)</label>
          <input class="form-control" type="file" id="drawingFile" name="drawingFile" accept=".tiff, .png, .bmp, .pdf">
        </div>
        </div>

        <br>

        
        <div class="row">

          <div class="col"> 
                      <label for="text_input" class="form-label">Zeichnungsnummer</label>
          <textarea class="form-control" id="drawingNumber" name="drawingNumber" rows="1"></textarea>
        </div>
        <div class="col"> 
          <label for="text_input" class="form-label">Kunde</label>
          <textarea class="form-control" id="orderNumber" name="orderNumber" rows="1"></textarea>
        </div>
        <div class="col"> 
          <label for="text_input" class="form-label">Auftragsnummer</label>
          <textarea class="form-control" id="customer" name="customer" rows="1"></textarea>
        </div>
    </div>


<br>
    <div class="row">
      <div class="col">
            <label class="form-label">Material</label>
    <select class="form-select" name="material">
        <option value="" selected> Material auswählen</option>
        {% for choice in material %}
        <option value="{{ choice.name }}">{{ choice.value }}</option>
        {% endfor %}
    </select>


<div class="form-group">
  <label>Zusatzinformationen:</label>
  <div class="form-check">
      <input class="form-check-input" type="checkbox" name="isSawing">
      <label class="form-check-label"> Sägen</label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="isMeasuring">
    <label class="form-check-label"> Messen</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="isLaserEngraving">
  <label class="form-check-label"> Lasergravur</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="isHardening">
  <label class="form-check-label"> Härten</label>
</div>
           
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="isStartholeDrilling">
  <label class="form-check-label"> Startlochbohren</label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="isSinkEroding">
  <label class="form-check-label"> Senkerodieren</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="isHoning">
  <label class="form-check-label"> Hohnen</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="isPolishing">
  <label class="form-check-label"> Polieren</label>
</div>
</div>    
</div>    

<div class="col">
    <label for="text_input" class="form-label">Beschreibung</label>
    <textarea class="form-control" id="text_input" name="comment" rows="5"></textarea>
</div>

  </div>
        </div>
            <button class="btn btn-primary" type="submit">Upload</button>
      </form>
    
    </div>
{% endblock %}


