{% extends 'base.html' %}


{% block title %}Upload CAD Modell{% endblock %}



 {% block content %}
 
 <div class="container">
    <br>
    <br>
      <form method="post" enctype="multipart/form-data">
        <div>
          <label for="file" class="form-label">Select CAD File (STP/STEP)</label>
          <input class="form-control" type="file" id="file" name="file" accept=".stp, .step" required>
        </div>
        <div>
    <div class="mb-3">
      <label for="text_input" class="form-label">Beschreibung</label>
      <textarea class="form-control" id="text_input" name="givenName" rows="5"></textarea>
    </div>


  <div class="mb-3">
    <label class="form-label">Material</label>
    <select class="form-select" name="material">
        <option value="" selected>Choose Material</option>
        {% for choice in material %}
        <option value="{{ choice.name }}">{{ choice.value }}</option>
        {% endfor %}
    </select>
</div>

<!-- <div class="form-group">
  <label>Additional Data:</label>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="sawing" value=false>
    <label class="form-check-label"> Sägen</label>
  </div>
</div> -->

  
        </div>
            <button class="btn btn-primary" type="submit">Upload</button>
      </form>
    
    </div>
{% endblock %}


